@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
	font-size: 3.9vw;
	font-weight: 400;
	color: #333;
	overflow-x: hidden;
}

a {
	display: block;
	color: #333;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button {
	outline: none;
}

input,
select,
textarea {
	width: 100%;
	height: 11vw;
	padding: 0 3.33333333vw;
	border: 0.27777777vw solid #ccc;
	border-radius: 1.66666666vw;
	font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
	font-size: 3.9vw;
	font-weight: 400;
	color: #333;
	outline: none;
}

input::placeholder,
textarea::placeholder {
	color: #aaa;
}

textarea {
	padding: 3.33333333vw;
}

input[type="number"] {
	text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	display: flex;
	align-items: center;
	position: relative;
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
	content: "";
	width: 5.83333333vw;
	height: 5.83333333vw;
	margin-right: 2.22222222vw;
	display: inline-block;
	border: 0.13888889vw solid #ccc;
	border-radius: 0.55555556vw;
}

input[type="checkbox"]+label::before {
	width: 4.44444444vw;
	height: 4.44444444vw;
	margin-right: 0.69444444vw;
}

input[type="radio"]+label::before {
	border-radius: 50%;
}

input[type="radio"]:checked+label::after {
	content: "";
	width: 3.88888889vw;
	height: 3.88888889vw;
	background-color: #666;
	position: absolute;
	top: 1.11111111vw;
	left: 1.11111111vw;
	border-radius: 50%;
}

input[type="checkbox"]:checked+label::before {
	background-image: url(../img/icon15.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.22222222vw 1.52777778vw;
}

input[type="file"] {
	display: none;
}

.file_url {
	color: #aaa;
}

select {
	padding-right: 9.72222222vw;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

select::-ms-expand {
	display: none
}

.select {
	position: relative;
	border-radius: 0;
}

.select::after {
	content: "";
	width: 2.50000000vw;
	height: 2.08333333vw;
	background-image: url(../img/icon14.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 3.33333333vw;
	transform: translate(0, -50%);
}

.calender {
	background-image: url(../img/icon32.png);
	background-repeat: no-repeat;
	background-position: right 2.22222222vw center;
	background-size: 3.88888889vw 4.44444444vw;
	cursor: pointer;
}

.ui-datepicker {
	width: 100%;
	max-width: 70vw;
	padding: 2.77777778vw;
	display: none;
	background-color: #fff;
	border: 0.13888889vw solid #eee;
}

.ui-datepicker-header {
	margin-bottom: 2.77777778vw;
	position: relative;
	text-align: center;
}

.ui-datepicker-title {
	font-size: 5vw;
	font-weight: 600;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 1.94444444vw;
	height: 3.33333333vw;
	background-position: center center;
	background-repeat: no-repeat;
	transform: translate(0, -50%);
	background-size: contain;
	cursor: pointer;
	position: absolute;
	top: 50%;
}

.ui-datepicker-prev {
	left: 1.66666667vw;
	background-image: url(../img/icon22.png);
}

.ui-datepicker-next {
	right: 1.66666667vw;
	background-image: url(../img/icon23.png);
}

.ui-icon-circle-triangle-w,
.ui-icon-circle-triangle-e {
	display: inline-block;
	text-indent: -13888888.75000000vw;
}

.ui-datepicker-calendar {
	width: 100%;
}

.ui-datepicker-calendar thead {
	font-size: 3vw;
	font-weight: 500;
}

.ui-datepicker-calendar thead th {
	padding-top: 2.77777778vw;
	padding-bottom: 2.77777778vw;
}

.ui-datepicker-calendar tbody {
	font-size: 3vw;
}

.ui-datepicker-calendar a {
	width: 7vw;
	height: 7vw;
	margin: 0.83333333vw auto;
	padding: 2vw;
	text-align: center;
}

.ui-state-active {
	background-color: #8e2de2;
	border-radius: 100%;
	font-weight: 500;
	color: #fff !important;
}

.ui-datepicker-week-end:first-child>* {
	color: #ff0000;
}

.ui-datepicker-week-end:last-child>* {
	color: #0054ff;
}

.owl-dots {
	padding: 2.6vw 0;
	text-align: center;
}

.owl-dot {
	width: 2.34375vw;
	height: 2.34375vw;
	margin-right: 1.5625vw;
	background-color: #ddd !important;
	border-radius: 100%;
}

.owl-dot:last-child {
	margin-right: 0;
}

.owl-dot.active {
	background-color: #8e2de2 !important;
}








.wrapper {
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.wrapper.bg01 {
	background-image: url(../img/bg2.png);
}

.wrapper.bg02 {
	background-image: url(../img/bg1.png);
}

.header {
	padding: 4.44444444vw;
	display: flex;
	justify-content: space-between;
}

.header.no_poa {
	position: relative;
	background-color: #fff;
}

.header .right {
	display: flex;
}

.header .right a {
	margin-left: 2.77777778vw;
}

.header .center {
	width: 47.63888888vw;
}

.header .ic_set {
	width: 6.94444444vw;
}

.header .ic_peple {
	width: 7.50000000vw;
}

.header .ic_power {
	width: 5.55555556vw;
}

.footer {
	padding-bottom: 5.55555556vw;
	text-align: center;
	position: relative;
	z-index: 1;
}

.footer .logo {
	width: 43.33333333vw;
	margin: 0 auto 1.38888889vw;
}

.footer .tx1 {
	width: 26.11111111vw;
	height: 6.66666667vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.27777778vw solid #aaa;
	border-radius: 3.33333333vw;
	font-size: 3.88888889vw;
	font-weight: 500;
	color: #888;
}

.footer .tx1.fc_white {
	color: #fff;
	border-color: #fff;
}

.con0 {
	padding-top: 4.16666667vw;
	position: relative;
}

.con1 {
	width: 52.63888889vw;
	height: 58.47222222vw;
	margin: 0 auto 6.94444444vw;
	background-image: url(../img/img1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.con1 .tx1 {
	margin-bottom: 3.19444444vw;
	font-size: 10.13888889vw;
	font-weight: 500;
}

.con1 .tx2 {
	width: 31.94444444vw;
	height: 6.25000000vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.33333333vw;
	color: #fff;
	background-color: #298ff5;
	border-radius: 3.05555556vw;
	font-weight: 500;
}

.con2 {
	margin: 0 4.44444444vw 16.66666667vw;
	padding: 4.16666667vw 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con2 .item {
	width: 33.3%;
	padding: 4.16666667vw 0;
	display: flex;
	justify-content: center;
	text-align: center;
}

.con2 .item .tx1 {
	margin-top: 3.88888889vw;
	font-size: 3.61111111vw;
	font-weight: 500;
	color: #444;
}

.con2 .item:nth-child(1) img {
	width: 10.83333333vw;
}

.con2 .item:nth-child(2) img {
	width: 10.41666667vw;
}

.con2 .item:nth-child(3) img {
	width: 9.02777778vw;
}

.con2 .item:nth-child(4) img {
	width: 15.00000000vw;
}

.con2 .item:nth-child(5) img {
	width: 9.30555556vw;
}

.con2 .item:nth-child(6) img {
	width: 10.83333333vw;
}

.con2 .item:nth-child(7) img {
	width: 10.83333333vw;
}

.con2 .item:nth-child(8) img {
	width: 10.00000000vw;
}

.con2 .item:nth-child(9) img {
	width: 10.83333333vw;
}

.con3 {
	margin: 6.94444444vw 4.4444vw 16.66666667vw;
}

.con3 a {
	margin-bottom: 2.0833vw;
	padding: 8.3333vw 0;
	padding-left: 33.3333vw;
	background-color: #fff;
	background-repeat: no-repeat;
	font-size: 5.5556vw;
	font-weight: 500;
	border-radius: 2.2222vw;
}

.con3 a:nth-child(1) {
	background-image: url(../img/img4.png);
	background-position: 8.6111vw center;
	background-size: 12.5000vw;
}

.con3 a:nth-child(2) {
	background-image: url(../img/img5.png);
	background-position: 9.3056vw center;
	background-size: 11.3889vw;
}

.con3 a:nth-child(3) {
	margin: 0;
	background-image: url(../img/img6.png);
	background-position: 11.2500vw center;
	background-size: 7.2222vw;
}

.con4 {
	height: 77.08333333vw;
	position: relative;
	z-index: 2;
}

.con4 .bg {
	width: 67.77777777vw;
	height: 67.77777777vw;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
}

.con4 canvas {
	width: 63.33333333vw !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 12;
}

.con4 .txWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 13;
	text-align: center;
}

.con4 .tx1 {
	font-size: 4.44444444vw;
	font-weight: 500;
	color: #555;
}

.con4 .tx2 {
	margin: 3.05555556vw 0 4.44444444vw;
	font-size: 12.77777778vw;
	font-weight: 600;
	color: #232323;
}

.con4 .tx3 {
	font-size: 3.88888889vw;
	font-weight: 500;
	color: #888;
}

.con5 {
	margin-bottom: 2.50000000vw;
	padding: 4.44444444vw 0;
	font-size: 4.44444444vw;
	font-weight: 500;
	text-align: center;
	border-top: 0.27777778vw solid #eee;
	background-color: #fff;
}

.con6 {
	padding: 5.27777778vw 0;
	margin: 2.22222222vw;
	text-align: center;
	font-size: 3.88888889vw;
	border-radius: 2.22222222vw;
	background-color: #fff;
	line-height: 1.5;
}

.con6.fz24 {
	font-size: 3.33333333vw;
}

.con6 .fwb {
	font-weight: 600;
}

.con6 .tx1 {
	display: flex;
	align-items: center;
}

.con6 .blue {
	color: #2896e8;
}

.con6 .red {
	color: #ff5757;
}

.con6 .tx1.pl {
	padding-left: 2.36111111vw;
}

.con6.flex_col {
	padding-left: 3.88888889vw;
	padding-right: 3.88888889vw;
	flex-direction: column;
	align-items: flex-start;
	font-size: 3.3vw;
	font-weight: 500;
}

.con6 .mlr {
	margin-right: 0.69444444vw;
	margin-left: 1.38888889vw;
}

.con7 {
	margin: 0 2.22222222vw 2.22222222vw;
	border-radius: 2.22222222vw;
	background-color: #fff;
}

.con8 {
	margin-bottom: 27.77777778vw;
	padding: 0 2.22222222vw;
	display: flex;
}

.con8 a {
	width: 100%;
	height: 15.27777778vw;
	margin-right: 3.33333333vw;
	text-align: center;
	font-size: 5.00000000vw;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 11.11111111vw;
	box-shadow: 0 0.69444444vw 0.69444444vw #999;
}

.con8 a:last-child {
	margin-right: 0;
}

.con8 a.blue {
	background-color: #288cf0;
	color: #fff;
}

.con8 a.gray {
	background-color: #b4b4b4;
	color: #fff;
}

.con8 a.fz32 {
	font-size: 4.44444444vw;
}

.input_form_01 {
	padding: 6.66666667vw 4.44444444vw;
}

.input_form_01 .tx1 {
	margin-bottom: 2.08333333vw;
	font-size: 3.88888889vw;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.input_form_01 .row {
	display: flex;
	justify-content: space-between;
}

.input_form_01 .row>* {
	margin-right: 2.08333333vw;
}

.input_form_01 .row>*:last-child {
	margin-right: 0;
}

.input_form_01 .col {
	width: 100%;
	margin-bottom: 5.00000000vw;
}

.input_form_01 .col:last-child {
	margin-bottom: 0;
}

.input_form_01 .col50 {
	width: 50%;
}

.input_form_01 .btn {
	width: 22.22222222vw;
	height: 8.33333333vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5.55555556vw;
	font-size: 3.05555556vw;
	font-weight: 600;
	box-shadow: 0 0.27777778vw 0.55555556vw #999;
}

.input_form_01 .btn.green {
	color: #fff;
	background-color: #69cb3e;
}

.input_form_01 .btn.red {
	color: #fff;
	background-color: #f85555;
}

.input_form_01 .select.w240 {
	min-width: 33.33333333vw;
}

.input_form_01 .select.w368 {
	width: 100%;
}

.tac {
	text-align: center;
}

.mb15 {
	margin-bottom: 2.08333333vw;
}

.el_blue {
	margin-top: 2.22222222vw;
	padding-left: 2.77777778vw;
	color: #2896e8;
	position: relative;
	font-size: 3.33333333vw;
	font-weight: 500;
	line-height: 1.3;
}

.el_blue::before {
	content: "";
	width: 1.11111111vw;
	height: 1.11111111vw;
	display: inline-block;
	border-radius: 50%;
	background-color: #2896e8;
	position: absolute;
	top: 1.66666667vw;
	left: 0;
}

.con9 {
	margin: 0 2.22222222vw;
}

.con9 .item {
	margin: 2.22222222vw 0;
	padding: 4.16666667vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
	display: flex;
	align-items: center;
}

.con9 .item img {
	width: 20.83333333vw;
	height: 22.22222222vw;
	margin-right: 5.55555556vw;
}

.con9 .item .tx1 {
	font-size: 6.66666667vw;
	font-weight: 500;
}

.con9 .item .tx2 {
	margin-top: 3.47222222vw;
	font-size: 5.00000000vw;
	color: #278aec;
}

.con10 .tab-header {
	display: flex;
}

.con10 .tab-header .tab-list {
	width: 100%;
	padding: 4.44444444vw 0;
	text-align: center;
	color: #888;
	font-size: 4.44444444vw;
	font-weight: 500;
	background-color: #fff;
}

.con10 .tab-header .tab-list.on {
	font-weight: 600;
	color: #298ff5;
	border-bottom: 0.55555556vw solid #298ff5;
}

.check01 {
	font-size: 3.33333333vw;
}

.mb200 {
	margin-bottom: 27.77777778vw !important;
}

.h60 {
	align-items: center;
}

.h60 input {
	width: 16.66666667vw;
	height: 8.33333333vw;
	text-align: center;
	font-size: 3.88888889vw;
	border-radius: 0.83333333vw;
}

.h60 .btn2 {
	min-width: 8.33333333vw;
	height: 8.33333333vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.11111111vw;
	box-shadow: 0 0.27777778vw 0.27777778vw #999;
}

.h60 .btn2.blue {
	background-color: #298ff5;
}

.h60 .btn2.red {
	background-color: #ef4747;
}

.h60 .btn2.blue img {
	width: 3.88888889vw;
	height: 3.88888889vw;
}

.h60 .btn2.red img {
	width: 3.33333333vw;
	height: 3.33333333vw;
}

.mb16 {
	margin-bottom: 2.22222222vw;
}

.input_form_01 .tx2 {
	width: 100%;
	height: 8.33333333vw;
	padding: 0 4.72222222vw;
	display: flex;
	align-items: center;
	background-color: #fafafa;
	border: 0.27777778vw solid #ccc;
	border-radius: 0.83333333vw;
	font-size: 3.88888889vw;
}

.ml80 {
	margin-left: 11.11111111vw;
}

.input_form_01 .col9 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mb35 {
	margin-bottom: 4.86111111vw;
}

.con11 {
	margin: 2.22222222vw;
	padding: 3.33333333vw 4.44444444vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con11 .tx1 {
	font-size: 3.33333333vw;
	font-weight: 500;
	line-height: 1.5;
}

.con11 .red {
	color: #ff5757;
}

.con11 .btn {
	width: 22.22222222vw;
	height: 8.33333333vw;
	background-color: #2686e5;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5.55555556vw;
	font-size: 3.05555556vw;
	font-weight: 600;
}

.con11 .btn img {
	width: 3.33333333vw;
	height: 3.33333333vw;
	margin-right: 1.38888889vw;
}

.con12 {
	margin: 2.22222222vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con12 .item {
	width: 100%;
	padding: 2.77777778vw 4.44444444vw;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.27777778vw solid #eee;
}

.con12 .item.bdbn {
	border-bottom: none;
}

.con12 .item .le {
	display: flex;
	align-items: center;
}

.con12 .le img {
	width: 4.44444444vw;
	height: 4.44444444vw;
	margin-right: 2.77777778vw;
}

.con12 .tx4 {
	font-size: 3.88888889vw;
}

.con12 .tx5 {
	font-size: 3.33333333vw;
	font-weight: 500;
}

.con12 .top {
	padding: 3.88888889vw 4.44444444vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.27777778vw solid #eee;
}

.con12 .top img {
	width: 4.02777778vw;
	height: 3.19444444vw;
}

.con12 .bdb {
	border-bottom: 0.27777778vw solid #eee;
}

.con12 .input_form_01 .tx2 {
	justify-content: center;
}

.con12 .input_form_01 .tx1 img {
	width: 3.61111111vw;
	height: 3.75000000vw;
	margin-right: 1.94444444vw;
}

.con12 .input_form_01 {
	padding-top: 3.88888889vw;
	padding-bottom: 3.88888889vw;
}

/* The switch - the box around the slider */
.switch {
	width: 18.05555556vw;
	height: 5.55555556vw;
	position: relative;
	display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
	width: 0;
	height: 0;
	opacity: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dcdcdc;
	-webkit-transition: .4s;
	transition: .4s;
	display: flex;
	align-items: center;
	box-shadow: 0 0.27777778vw 0.55555556vw #999;
}

.slider:before {
	content: "";
	width: 9.72222222vw;
	height: 5.55555556vw;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #2685e4;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 0 0.27777778vw 0.55555556vw #999;
}

.slider .tx1 {
	width: 50%;
	text-align: center;
	font-size: 2.77777778vw;
	font-weight: 500;
	position: relative;
	z-index: 10;
	color: #888;
}

input:checked+.slider {
	background-color: #dcdcdc;
}

input:checked+.slider:before {
	-webkit-transform: translateX(8.47222222vw);
	-ms-transform: translateX(8.47222222vw);
	transform: translateX(8.47222222vw);
	background-color: #e94646;
}

.slider .tx2 {
	color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider .tx2 {
	color: #888;
}

.slider .tx3 {
	color: #888;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider .tx3 {
	color: #fff;
}

/* Rounded sliders */
.slider.round {
	border-radius: 2.77777778vw;
}

.slider.round:before {
	border-radius: 2.77777778vw;
}

.pageNum {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageNum .tx1 {
	width: 6.11111111vw;
	height: 6.11111111vw;
	margin: 0 0.55555556vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #888;
	border-radius: 0.83333333vw;
	font-size: 3.33333333vw;
	font-weight: 500;
}

.pageNum .tx1.on {
	background-color: #298ff5;
}

.pageNum a:first-child {
	margin-right: 2.77777778vw;
}

.pageNum a:last-child {
	margin-left: 2.77777778vw;
}

.pageNum a img {
	width: 2.08333333vw;
	height: 3.33333333vw;
}

.mt50 {
	margin-top: 6.94444444vw;
}

.con13 {
	padding: 4.86111111vw 4.44444444vw;
	display: flex;
	align-items: center;
	font-size: 3.88888889vw;
	font-weight: 500;
	background-color: #fff;
}

.con13 .le {
	margin-right: 7.63888889vw;
	color: #298ff5;
}

.con13 .ri {
	display: flex;
}

.mr30 {
	margin-right: 4.16666667vw;
}

.con14 {
	margin: 2.22222222vw;
	padding: 2.22222222vw;
	padding-bottom: 4.16666667vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con14 .tx4 {
	margin-top: 4.44444444vw;
	padding-left: 2.22222222vw;
	font-size: 4.44444444vw;
	font-weight: 500;
}

.con14 .ttop {
	margin-top: 3.47222222vw;
	padding: 2.08333333vw 4.16666667vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #298ff5;
	color: #fff;
	border-radius: 1.66666667vw;
	font-size: 3.33333333vw;
	font-weight: 500;
}

.con14 .ttop .top {
	text-align: center;
}

.con14 .ttop .bottom {
	width: 27.77777778vw;
	margin-top: 2.08333333vw;
	display: flex;
	justify-content: space-between;
}

.con14 .bbotom .df {
	padding: 4.86111111vw 0;
	display: flex;
	justify-content: space-between;
	font-size: 3.88888889vw;
	border-bottom: 0.27777778vw solid #eee;
}

.con14 .bbotom .df>*:nth-child(1) {
	width: 13%;
	text-align: center;
}

.con14 .bbotom .df>*:nth-child(2) {
	width: 57%;
	padding-left: 2.77777778vw;
	padding-right: 6.94444444vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.con14 .bbotom .df>*:nth-child(3) {
	width: 30%;
	padding-right: 2.77777778vw;
}

.con14 .bbotom .checkW {
	display: flex;
	justify-content: space-between;
}

.con14 input[type="checkbox"]+label::before {
	width: 4.58333333vw;
	height: 4.58333333vw;
}

.con14 input[type="checkbox"]:checked+label::before {
	background-image: url(../img/icon24.png);
}

.con14 .tx2 {
	font-size: 3.88888889vw;
}

.con15 .tab-header {
	font-size: 3.88888889vw;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	border-top: 0.13888889vw solid #eee;
	background-color: #fff;
}

.con15 .tab-list {
	width: 100%;
	padding: 4.72222222vw 0;
	text-align: center;
	border-bottom: 0.41666667vw solid #eee;
	color: #888;
}

.con15 .tab-list.on {
	border-bottom: 0.69444444vw solid #298ff5;
	color: #298ff5;
	font-weight: 600;
}

.con16 {
	padding: 4.72222222vw;
	background-color: #fff;
	display: flex;
	font-size: 3.88888889vw;
}

.con16 .le {
	margin-right: 4.72222222vw;
	font-weight: 500;
	color: #298ff5;
}

.con17 .top {
	padding: 3.61111111vw;
	background-color: #298ff5;
	color: #fff;
	text-align: center;
	font-size: 3.88888889vw;
	font-weight: 500;
}

.con17 .top .tx1 {
	width: 25%;
}

.con17 .df {
	display: flex;
	justify-content: space-between;
}

.con17 .bottom {
	text-align: center;
	background-color: #fff;
}

.con17 .bottom .df {
	padding: 0 3.61111111vw;
	border-bottom: 0.27777778vw solid #eee;
}

.con17 .bottom .tx2 {
	width: 25%;
	height: 11.11111111vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3.88888889vw;
}

.con17 .bottom .tx3 {
	margin-top: 0.69444444vw;
	font-size: 3.33333333vw;
	font-weight: 500;
	color: #298ff5;
}

.fwm {
	font-weight: 500;
}

.con18 {
	padding: 2.22222222vw;
	display: flex;
	justify-content: space-between;
}

.con18 a {
	width: 30.00000000vw;
	height: 8.33333333vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.33333333vw;
	font-weight: 600;
	color: #fff;
	border-radius: 5.55555556vw;
	background-color: #878787;
	box-shadow: 0 0.27777778vw 0.27777778vw #999;
}

.con18 a.blue {
	background-color: #298ff5;
}

.con19 {
	margin: 0 2.22222222vw 0;
	border-radius: 2.22222222vw;
}

.con20 {
	padding: 0 6.66666667vw;
	background-color: #fff;
}

.con20 .df {
	padding-bottom: 6.25000000vw;
	display: flex;
	align-items: center;
	font-size: 3.88888889vw;
}

.con20 .ri {
	display: flex;
	align-items: center;
}

.con20 input[type="radio"]+label::before {
	margin-right: 0.83333333vw;
}

.h60 select {
	width: auto;
	height: 8.33333333vw;
	padding-left: 2.77777778vw;
	padding-right: 5.55555556vw;
	text-align: center;
	font-size: 3.88888889vw;
	border-radius: 0.83333333vw;
}

.h60 select.w120 {
	width: 16.66666667vw;
}

.h60 .select::after {
	width: 1.94444444vw;
	height: 1.66666667vw;
	right: 2.36111111vw;
	background-image: url(../img/icon25.png);
}

.con20 .tx1 {
	margin-bottom: 2.08333333vw;
	font-weight: 500;
}

.con20 .tx2 {
	font-weight: 500;
}

.mr8 {
	margin-right: 1.11111111vw;
}

.mr22 {
	margin-right: 3.05555556vw;
}

.mr54 {
	margin-right: 5.5vw;
}

.mt16 {
	margin-top: 2.22222222vw;
}

.mr16 {
	margin-right: 2.22222222vw;
}

.con21 {
	padding: 4.44444444vw;
	background-color: #fff;
}

.con21 .tx1 {
	margin-bottom: 3.05555556vw;
	font-size: 3.33333333vw;
	font-weight: 500;
	color: #298ff5;
}

.con21 .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.con21 select {
	font-size: 3.33333333vw;
}

.con21 select.w160 {
	width: 22.22222222vw;
}

.con21 select.w210 {
	width: 29.16666667vw;
}

.con22 {
	background-color: #fff;
}

.con22 .tx1 {
	padding: 3.88888889vw 0;
	text-align: center;
	border-top: 0.27777778vw solid #eee;
	font-size: 4.44444444vw;
	font-weight: 500;
}

.con22 .top {
	padding: 3.61111111vw 4.44444444vw;
	display: flex;
	justify-content: space-between;
	font-size: 3.88888889vw;
	font-weight: 500;
	color: #fff;
	background-color: #298ff5;
}

.con22 .top .tx2 {
	text-align: center;
}

.con22 .top .tx2:nth-child(1) {
	width: 17%;
}

.con22 .top .tx2:nth-child(2) {
	width: 33%;
}

.con22 .top .tx2:nth-child(3) {
	width: 50%;
}

.con22 .bottom .df {
	padding: 2.77777778vw 4.44444444vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.27777778vw solid #eee;
}

.con22 .bottom .tx3 {
	font-size: 3.33333333vw;
	text-align: center;
}

.con22 .bottom .tx3:nth-child(1) {
	width: 17%;
}

.con22 .bottom .tx3:nth-child(2) {
	width: 33%;
}

.con22 .bottom .tx3:nth-child(3) {
	width: 40%;
}

.con22 .bottom div:nth-child(4) {
	width: 10%;
}

.con22 .bottom div:nth-child(4) a {
	width: 5.69444444vw;
	height: 5.69444444vw;
	margin-left: auto;
	margin-right: 0;
	background-color: #888;
	border-radius: 0.83333333vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.con22 .bottom div:nth-child(4) a img {
	width: 2.36111111vw;
	height: 2.36111111vw;
}

.con23 {
	margin: 2.22222222vw;
	padding: 4.44444444vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con23 .tx1 {
	font-size: 3vw;
}

.con23 .tx1.fwb {
	font-size: 3.88888889vw;
	font-weight: 500;
}

.con23 .tx1 .df {
	display: flex;
}

.con23 input[type="checkbox"]+label::before {
	margin-right: 1.11111111vw;
}

.con23 .tx2 {
	margin-top: 5.55555556vw;
	margin-bottom: 2.50000000vw;
	display: flex;
	align-items: center;
	font-size: 3.88888889vw;
	font-weight: 600;
}

.con23 .tx2 span {
	color: #2896e8;
	font-size: 5.55555556vw;
}

.con23 .tx3 {
	height: 40.27777778vw;
	padding: 3.61111111vw;
	margin-bottom: 4.16666667vw;
	font-size: 2.77777778vw;
	color: #666;
	border: 0.27777778vw solid #ccc;
	border-radius: 1.11111111vw;
	line-height: 1.7;
	overflow-y: auto;
}

.mr24 {
	margin-right: 3.33333333vw;
}

.mt18 {
	margin-top: 2.50000000vw;
}

.pb40 {
	padding-bottom: 5.55555556vw;
}

.mb0 {
	margin-bottom: 0;
}

.con24 {
	margin-top: 4.16666667vw;
	margin-bottom: 7.22222222vw;
	display: flex;
	justify-content: center;
	font-size: 3.88888889vw;
	font-weight: 500;
}

.con24 a {
	margin-left: 1.38888889vw;
	color: #298ff5;
}

.con25 .dropDown {
	margin: 0.83333333vw 2.22222222vw;
	padding: 4.16666667vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con25 .tx1 {
	font-size: 3.88888889vw;
	font-weight: 500;
}

.con25 .tx2 {
	margin-top: 2.77777778vw;
	font-size: 2.77777778vw;
	color: #888;
}

.con25 .down {
	margin-top: 4.16666667vw;
	padding-top: 4.16666667vw;
	font-size: 3.33333333vw;
	line-height: 1.7;
	display: none;
	border-top: 0.27777778vw solid #eee;
}

.con25 .dropDown.on>.down {
	display: block;
}

.con25 .dropDown .drop {
	background-image: url(../img/icon30.png);
	background-repeat: no-repeat;
	background-position: center right 4.16666667vw;
	background-size: 2.08333333vw 3.61111111vw;
}

.con25 .dropDown.on .drop {
	background-image: url(../img/icon29.png);
	background-size: 3.61111111vw 2.08333333vw;
}

.con25 .dropDown.re .tx1 {
	padding-left: 4.16666667vw;
	background-image: url(../img/icon27.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 2.22222222vw 2.63888889vw;
}

.con25 .dropDown.scri .tx1::after {
	content: "";
	width: 2.22222222vw;
	height: 3.19444444vw;
	margin-left: 1.38888889vw;
	background-image: url(../img/icon28.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	display: inline-block;
}

.mt30 {
	margin-top: 4.16666667vw;
}

.con26 {
	display: flex;
	justify-content: center;
}

.con26 a {
	width: 22.22222222vw;
	height: 8.33333333vw;
	color: #fff;
	background-color: #298ff5;
	border-radius: 4.16666667vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.33333333vw;
	font-weight: 600;
}

.mb30 {
	margin-bottom: 4.16666667vw;
}

.con6 img.mt30.mb30 {
	width: 46.80555556vw;
}

.con27 {
	margin: 2.22222222vw;
	padding: 4.44444444vw;
	border-radius: 2.22222222vw;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.con27 .le .tx1 {
	margin-bottom: 3.47222222vw;
	font-size: 5.00000000vw;
	font-weight: 500;
}

.con27 .le .df {
	margin-top: 1.66666667vw;
	display: flex;
	font-size: 3.33333333vw;
}

.con27 .le .df .tx2 {
	width: 12.50000000vw;
}

.con27 .ri {
	width: 18.05555556vw;
	height: 18.05555556vw;
	padding-top: 11.66666667vw;
	background-color: #298ff5;
	border-radius: 1.66666667vw;
	text-align: center;
	font-size: 3.33333333vw;
	font-weight: 500;
	color: #fff;
	background-image: url(../img/icon31.png);
	background-repeat: no-repeat;
	background-position: top 2.77777778vw center;
	background-size: 6.25000000vw 6.25000000vw;
}

.con29 {
	margin: 2.22222222vw;
	padding: 3.88888889vw 4.44444444vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
	font-size: 3.33333333vw;
	line-height: 1.5;
}

.con28 {
	margin: 2.22222222vw;
	padding: 3.88888889vw 4.44444444vw;
	background-color: #fff;
	border-radius: 2.22222222vw;
}

.con28 .tx1 {
	margin-bottom: 4.16666667vw;
	font-size: 4.44444444vw;
	font-weight: 500;
}

.con28 .w220 {
	width: 30.55555556vw;
	padding: 0 2.77777778vw;
	font-size: 3.33333333vw;
	text-align: left;
}

.con28 .df {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.con28 .btn {
	width: 15.27777778vw;
	height: 8.33333333vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #298ff5;
	color: #fff;
	border-radius: 5.55555556vw;
	font-size: 3.33333333vw;
	font-weight: 600;
	box-shadow: 0 0.27777778vw 0.27777778vw #999;
}

.con30 {
	margin-top: 3.88888889vw;
	border-radius: 2.22222222vw;
	border: 0.27777778vw solid #ccc;
	text-align: center;
	overflow: hidden;
}

.con30 .df {
	border-bottom: 0.27777778vw solid #ccc;
	font-size: 3vw;
	line-height: 1.4;
	align-items: initial;
}

.con30 .df:last-child {
	border-bottom: none;
}

.con30 .tx2 {
	min-width: 33.61111111vw;
	padding: 2.50000000vw 0;
	border-right: 0.27777778vw solid #ccc;
	background-color: #eee;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

.con30 .tx3 {
	width: 100%;
	padding: 2.08333333vw 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.con8.fz28 {
	margin-bottom: 0;
	padding: 0;
}

.con8.fz28 a {
	height: 11.11111111vw;
	font-size: 3.88888889vw;
}

.con31 {
	font-size: 3vw;
	text-align: center;
	border-radius: 2.22222222vw;
	overflow: hidden;
	border: 0.27777778vw solid #ccc;
}

.con31 .thead {
	border-bottom: 0.27777778vw solid #ccc;
}

.con31 .thead>div {
	padding: 2.08333333vw 0;
	background-color: #eee;
}

.con31 .tbody>div {
	padding: 1.66666667vw 0;
}

.con31 .tx5 {
	width: 10%;
	border-right: 0.27777778vw solid #ccc;
	background-color: #eee;
}

.con31 .tx6 {
	width: 25%;
	border-right: 0.27777778vw solid #ccc;
	background-color: #f4f4f4;
}

.con31 .tx7 {
	width: 65%;
}