@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #111;
}

a {
	display: block;
	color: #111;
	text-decoration: none;
}

img {
	vertical-align: top;
}

input,
select,
textarea {
	width: 100%;
	border: 1px solid #cecece;
	border-radius: 4px;
	font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #111;
}

input[type="number"] {
	text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	display: flex;
	align-items: center;
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
	content: "";
	width: 16px;
	height: 16px;
	margin-right: 12px;
	display: inline-block;
	border: 1px solid #cecece;
	border-radius: 4px;
}

input[type="radio"]+label::before {
	border-radius: 100%;
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
	background-color: #8e2de2;
	border: 1px solid #8e2de2;
	background-image: url(../img/icon_11.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.bold {
	font-weight: 700;
}

.medium {
	font-weight: 500;
}

.ml10 {
	margin-left: 10px;
}

.wrapper {
	width: 1920px;
	margin: 0 auto;
	display: flex;
}

.leftCon {
	width: 1540px;
}

.rightCon {
	width: 380px;
	padding: 72px 28px 0 28px;
	background-color: #303340;
	text-align: center;
}

.logo {
	margin-bottom: 40px;
}

.header {
	padding-right: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #252730;
}

.header a {
	color: #fff;
}

.header .userWrap {
	display: flex;
	align-items: center;
}

.header .userWrap .userId {
	font-size: 16px;
}

.header .userWrap .btn {
	margin-left: 32px;
	padding: 7px 20px;
	border: 1px solid #fff;
	border-radius: 20px;
}

.footer {
	padding: 36px 40px;
	display: flex;
	background-color: #25272f;
	color: #fff;
	line-height: 1.5;
}

.footer .fLogo {
	margin-right: 50px;
}

.footer .tx1 {
	color: #ccc;
}

.footer .tx2 {
	margin-top: 10px;
	color: #666;
	text-transform: uppercase;
}

.gnb {
	display: flex;
}

.gnb .item {
	padding: 0 40px;
	text-align: center;
	position: relative;
}

.gnb .item>a {
	padding: 25px 0;
	font-size: 18px;
	display: block;
}

.gnb .item>a.bold {
	border-bottom: 4px solid #8e2de2;
}

.gnb .item:hover .dropDown {
	display: flex;
}

.gnb .dropDown {
	width: 100%;
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #303340;
	font-size: 16px;
	display: none;
}

.gnb .dropDown a {
	margin: 10px 0;
}

.gnb .dropDown a:hover {
	font-weight: 500;
}

.container {
	padding: 64px 130px 94px;
}

.conTitle {
	margin-bottom: 40px;
	font-size: 30px;
}

.conTitle_2 {
	padding-bottom: 40px;
	font-size: 20px;
	font-weight: 700;
}

.conTitle_3 {
	padding-bottom: 18px;
	font-size: 16px;
	font-weight: 500;
}

.customDate {
	background-image: url(../img/icon_3.png);
	background-repeat: no-repeat;
	background-position: right 16px center;
}

.table_1 {
	width: 100%;
	border: 1px solid #cecece;
	text-align: center;
}

.table_1 th,
.table_1 td {
	height: 26px;
	border: 1px solid #cecece;
	vertical-align: middle;
}

.table_1 th {
	height: 42px;
}

.table_1 td {
	height: 26px;
}

.table_1 td:nth-child(1) {
	font-size: 12px;
	color: 555;
}

.table_1 td.violet {
	background-color: #e9d1fe;
}

.table_1 td.red {
	background-color: #ffe4e8;
}

.table_1 td.yellow {
	background-color: #fff6da;
}

.table_1 td.green {
	background-color: #cdefd3;
}

.table_1 td.gray {
	background-color: #f8f8f8;
}

.table_1 td.blue {
	background-color: #f3f7ff;
}

.table_2 {
	width: 100%;
}

.table_2 input[type="checkbox"]+label::before {
	width: 24px;
	height: 24px;
	background: #fff;
}

.table_2 input[type="checkbox"]:checked+label::before {
	background-color: #8e2de2;
	background-image: url(../img/icon_24.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.table_2 tr {
	border-bottom: 1px solid #cecece;
}

.table_2 tr:first-child {
	border-top: 1px solid #cecece;
}

.table_2 tr>*:first-child {
	padding-left: 24px;
}

.table_2 th {
	height: 54px;
	background-color: #efefef;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
}

.table_2 td {
	height: 60px;
	vertical-align: middle;
	text-align: center;
}

.table_2 .con8_1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.table_2 .memo {
	margin: 0 10px;
}

.table_2 .tooltip {
	max-width: 104px;
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table_2 .blue {
	background-color: #0084ff;
	color: #fff;
}

.table_2 .red {
	background-color: #ff3737;
	color: #ffd200;
}

.table_2 .violet {
	background-color: #bf43ff;
	color: #fff;
}

.table_2 .green {
	background-color: #22ac38;
	color: #ffd200;
}

.pageNum {
	width: 100%;
	margin-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pageNum a {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	color: #666;
}

.pageNum a.on {
	background-color: #8e2de2;
	color: #fff;
}

.pageNum .le_2 {
	margin-right: 10px;
}

.pageNum .ri_1 {
	margin-left: 10px;
}

.botomBtn {
	margin-top: 80px;
	text-align: center;
}

.popup {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	opacity: 1;
	overflow-y: auto;
}

.popup-inner {
	max-width: 400px;
	margin: 7% auto;
	padding: 30px;
	position: relative;
	background-color: #fff;
}

.popup_overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	background: #000;
	display: none;
	opacity: 0.5;
}

.popClo {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

.botomBtn a {
	width: 146px;
	height: 46px;
	display: inline-block;
	border-radius: 4px;
	background-color: #8e2de2;
	font-size: 16px;
	font-weight: 500;
	line-height: 46px;
	color: #fff;
	text-align: center;
}

.con1 {
	padding-top: 38px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #cecece;
}

.con1_1 {
	display: flex;
	align-items: center;
}

.con1_1 .leRi {
	width: 46px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #cecece;
	border-radius: 4px;
}

.con1_1 .customDate {
	width: 200px;
	height: 46px;
	margin: 0 8px;
	padding: 0 15px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

.con1_1 .bar {
	width: 14px;
	height: 1px;
	background-color: #cecece;
}

.con1_2 {
	width: 146px;
	background-color: #8e2de2;
	color: #fff;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.con2 {
	margin-top: 24px;
	overflow: hidden;
}

.con2_1 {
	width: 1045px;
	float: left;
}

.con2_2 {
	min-width: 180px;
	padding: 10px 20px;
	border: 1px solid #cecece;
	float: right;
}

.con2_2 .item {
	padding: 10px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.con2_2 .item img {
	margin-right: 10px;
}

.con3 {
	margin: 10px 0;
	padding: 22px 25px;
	text-align: left;
	background-color: #393d4e;
	color: #fff;
	border-radius: 4px;
}

.con3 .tx3 {
	padding-bottom: 16px;
	color: #b0b5ca;
}

.con3 .tx2 {
	font-size: 36px;
	display: flex;
	align-items: center;
}

.con3 .tx4 {
	font-size: 24px;
}

.con3 .tx5 {
	margin-bottom: 15px;
	font-size: 14px;
}

.con3 .tx5:last-child {
	margin-bottom: 0;
}

.con3 .tx6 {
	margin-right: 15px;
	font-size: 16px;
}

.con4 {
	margin-bottom: 64px;
	border-top: 1px solid #cecece;
}

.con4 .selWarp {
	display: flex;
	border-bottom: 1px solid #cecece;
}

.con4 .selWarp .tx1 {
	width: 120px;
	padding: 22px 0 22px 12px;
	font-size: 16px;
	font-weight: 500;
	background-color: #f8f8f8;
}

.con4 .selWarp .sel {
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.con4 .selWarp .sel label {
	margin-right: 26px;
	margin-left: 10px;
	font-size: 16px;
}

.con5 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.con5 {
	margin-bottom: 64px;
	padding: 20px 0;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}

.con5 .item {
	width: 23.5%;
	margin: 5px 0;
	padding: 16px;
	border: 1px solid #cecece;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
}

.con5 .tx1 {
	color: #ff7e00;
	font-weight: 500;
}

.con5 .tx2 {
	color: #2577ff;
	font-weight: 500;
}

.con5 .tx3 span {
	color: #aaa;
}

.con6 .tabHead {
	display: flex;
	border-bottom: 1px solid #cecece;
}

.con6 .tabHead .item {
	width: 168px;
	padding: 14px 0;
	text-align: center;
	background-color: #f8f8f8;
}

.con6 .tabHead .item.on {
	background-color: #fff;
	border-top: 2px solid #8e2de2;
	position: relative;
}

.con6 .tabHead .item.on::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.con7 {
	width: 1045px;
	padding-top: 32px;
	display: flex;
	justify-content: space-between;
}

.con7 .le,
.con7 .ri {
	width: 96px;
	background-color: #aaa;
	color: #fff;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.con7_1 {
	display: flex;
}

.con7 .con1_1 .customDate {
	width: 318px;
}

.con8 {
	border-top: 1px solid #cecece;
}

.con8 .con7 {
	width: 100%;
	margin-bottom: 24px;
}

.con8 .con7 .con1_1 .customDate {
	width: 200px;
}

.con8 .con1_2 {
	width: 96px;
}

.con8 .le {
	width: auto;
	background: none;
	color: #000;
	font-size: 18px;
	font-weight: 500;
}

.con8 .le span {
	padding: 0 8px;
	font-size: 24px;
	font-weight: 600;
	color: #8e2de2;
}

.con8 .ri {
	background-color: #fff;
	border: 1px solid #cecece;
	color: #666;
	font-weight: 500;
}

.con9 .tx1 {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid #cecece;
}

.con9 .tx2 {
	font-weight: 500;
	position: relative;
}

.con9 .tx2.imp::after {
	content: "";
	width: 7px;
	height: 7px;
	background-image: url(../img/icon_27.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 0;
	left: -9px;
}

.con9 .item-1 {
	padding: 4px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.con9 .w240 {
	max-width: 240px;
	width: 100%;
}

.con9 .w200 {
	max-width: 200px;
	width: 100%;
}

.con9 select,
.con9 input,
.con9 textarea {
	width: 100%;
	height: 36px;
	padding: 0 16px;
	line-height: 36px;
	background: #fff;
	border: 1px solid #cecece;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.con9 textarea {
	height: 150px;
}

.con9 input.customDate {
	background-image: url(../img/icon_3.png);
	background-repeat: no-repeat;
	background-position: right 16px center;
}

.con9 select {
	background-image: url(../img/icon_26.png);
	background-repeat: no-repeat;
	background-position: right 16px center;
}

.con9 select::-ms-expand {
	display: none;
}

.con9 .cheRa {
	display: flex;
	align-items: center;
}

.con9 #radio001_1+label {
	margin-left: 2px;
}

.con9 #radio001_1+label,
.con9 #radio001_2+label {
	height: 36px;
	margin-right: 6px;
	padding: 0 20px;
	border: 1px solid #cecece;
	border-radius: 4px;
}

.con9 #radio001_1:checked+label,
.con9 #radio001_2:checked+label {
	background-color: #8e2de2;
	border: 1px solid #8e2de2;
	color: #fff;
}

.con9 #radio001_1+label::before,
.con9 #radio001_2+label::before {
	display: none;
}

.con9 .txRi {
	position: relative;
}

.con9 .txRi input {
	padding-right: 35px;
	text-align: right;
}

.con9 .txRi::after {
	content: "ì›";
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translate(0, -58%);
	font-size: 14px;
	color: #888;
}

.con10 .df {
	display: flex;
	align-items: center;
}

.con10 .dfC {
	display: flex;
	flex-direction: column;
}

.con10 .w80 {
	max-width: 80px;
	width: 100%;
}

.con10 .w100 {
	max-width: 100px;
	width: 100%;
}

.con10 .w120 {
	max-width: 120px;
	width: 100%;
}

.con10 .w280 {
	max-width: 280px;
	width: 100%;
}

.con10 input {
	height: 36px;
	margin: 3px 0;
	padding: 0 16px;
	line-height: 36px;
}

.con10 .hip {
	margin: 0 8px;
	color: #cecece;
}

.con10 .tx5 {
	margin: 0 6px;
	font-size: 16px;
}

.con10 .tx6 {
	margin: 0 16px 0 10px;
	font-size: 16px;
}

.con10 .gray {
	height: 36px;
	margin-left: 6px;
	background-color: #aaa;
	color: #fff;
	line-height: 36px;
	border-radius: 4px;
	text-align: center;
}

.con10 .violet {
	height: 36px;
	margin-left: 6px;
	background-color: #8e2de2;
	color: #fff;
	line-height: 36px;
	border-radius: 4px;
	text-align: center;
}

.con10 .white {
	height: 36px;
	margin-left: 6px;
	background-color: #fff;
	border: 1px solid #cecece;
	color: #666;
	line-height: 36px;
	border-radius: 4px;
	text-align: center;
}

.con10 table {
	width: 100%;
}

.con10 tr {
	padding: 8px 20px;
	border-bottom: 1px solid #cecece;
}

.con10 tr:first-child {
	border-top: 1px solid #cecece;
}

.con10 th {
	width: 120px;
	padding: 20px 10px;
	text-align: left;
	background-color: #f8f8f8;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
}

.con10 td {
	padding: 4px 20px;
	vertical-align: middle;
}

.con10 .con4 {
	margin-bottom: 0;
	border-top: none;
}

.con10 .con4 .selWarp {
	border-bottom: none;
}

.con10 .con4 .selWarp .sel {
	padding-left: 0;
}

.con10 #checkbox09_1+label {
	margin-left: 0;
}

.con10 .grapW {
	padding: 15px 0;
}

.con10 .txRed {
	margin-top: 5px;
	font-weight: 500;
	font-size: 12px;
	color: #ff0000;
}

.con10 textarea {
	padding: 16px;
}

.con10 .taH320 {
	height: 320px;
}

.con10 .taH190 {
	height: 190px;
}

.upload-name {
	margin: 0;
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
}

#ex_filename {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -99999px;
}

.loginW.wrapper {
	display: block;
}

.loginW .footer {
	width: 100%;
}

.con11 {
	display: flex;
}

.con11>div {
	width: 50%;
}
.con11 .le{
	background-image: url(../img/img_3.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.con11 .le .tx{
	margin-top: 340px;
	margin-left: 120px;
	color: #fff;
	line-height: 1.4;
}
.con11 .le .tx1{
	font-size: 60px;
}
.con11 .le .tx2{
	font-size: 72px;
	font-weight: 500;
}
.con11 .le .tx2 span{
	font-weight: 700;
}
.con11 .le .tx3{
	font-size: 72px;
	font-weight: 500;
}

.con11 .ri {
	padding-top: 220px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.con11 .logo_3{
	margin-bottom: 48px;
}
.con11 input{
	width: 400px;
	height: 54px;
	margin-bottom: 8px;
	padding: 0 22px;
	line-height: 54px;
	font-size: 16px;
}
.con11 a{
	width: 400px;
	height: 54px;
	margin-top: 8px;
	margin-bottom: 270px;
	line-height: 54px;
	font-size: 16px;
	color: #fff;
	background-color: #8e2de2;
	border-radius: 4px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}